.content {
  padding: 10px;
}

h4 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: normal;
  font-size: large;
}

.paginatorSpanContainer {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.photoAndButtonContainer {
  margin-left: 20px;
  width: 100px;
}

.prev {
  margin-right: 5px;
  padding-left: 5px;
  border-left: 1px solid gray;
}
.prev:hover {
  opacity: 0.5
}
.next {
  margin-left: 5px;
  padding-right: 5px;
  border-right: 1px solid gray;
}
.next:hover {
  opacity: 0.5
}

.photo {
  width: 100px;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.user {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(230, 230, 230);
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.button {
  color: green;
  width: 100px;
  margin-top: 5px;
  border: 1px solid rgb(174, 182, 174);
  background-color: rgb(129, 231, 151);
  border-radius: 5px;
}

.button:hover {
  color: rgb(174, 182, 174);
}

.fullName {
  margin-bottom: 15px;
  color: black;
  font-weight: 500;
  font-size: 20px;
}

.description {
  font-size: small;
}

.locationContainer {
  margin-top: 30px;
}

.online {
  display: inline;
  margin-left: 20px;
  font-size: 13px;
  color: rgb(92, 97, 92);
}

.paginationContainer {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0 2px;
  margin-bottom: 10px;
  text-align: center;
}

.pageNumber {
  cursor: pointer;
  margin: 0;
  /* border-right: 1px solid gray;
  border-left: 1px solid gray; */
  text-align: center;
  width: 30px;
  display: inline-block;
}

.pageNumber:hover {
  color: rgb(174, 182, 174);
}

.activePage {
  color: black;
  text-decoration: underline;
}

.activePage:hover {
  color: red;
}

.preloader {
  background-color: white;
}

.followingInProgress {
  background-color: rgb(174, 182, 174);
  color: gray;
  border-color: gray;
}

.followingInProgress:hover {
  color: gray;
}
